name: Check JSON Files

on:
  workflow_dispatch:
  push:
  schedule:
  - cron: "*/15 * * * *"

jobs:
  compare-json:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run Python script >= 2.1
      run: python ./v2/update_json.py      
      
    - name: Set up Git
      run: |
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"
        
    - name: Compare JSON files
      id: compare
      run: |
        if ! cmp -s ./v2/all_device_firmware.json ./v2/all_device_firmware.old.json; then
          echo "Files are different. Updating..."

          rm -f ./v2/cardputer.json ./v2/stickc.json ./v2/core2.json ./v2/core.json ./v2/cores3.json .v2/third_party.json
          cp ./v2/tmp/cardputer.json ./v2/tmp/stickc.json ./v2/tmp/core.json ./v2/tmp/cores3.json ./v2/
          cp './v2/tmp/core2 & tough.json' ./v2/core2.json
          cp './v2/tmp/third party.json' ./v2/third_party.json
          rm -f ./v2/tmp/*.json
          
          git add .
          git commit -m "Update JSON files"
          git push
        else
          echo "Files are the same. Workflow terminated."
        fi
