name: Check JSON Files

on:
  workflow_dispatch:
  push:
  schedule:
  - cron: "*/15 * * * *"

jobs:
  compare-json:
    runs-on: ubuntu-latest
    env:
      FILES_ADDED: "false"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run Python script >= 2.1
      run: python ./v2/update_json.py

    - name: No new firmware files detected
      if: env.FILES_ADDED != 'true'
      run: echo "No new firmware files detected. Skipping remaining steps."

    - name: Set up Git
      if: env.FILES_ADDED == 'true'
      run: |
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"

    - name: Compare JSON files
      id: compare
      if: env.FILES_ADDED == 'true'
      run: |
        if ! cmp -s ./v2/all_device_firmware.json ./v2/all_device_firmware.old.json; then
          echo "Files are different. Updating..."
          git add .
          git commit -m "Update JSON files"
          git push
        else
          echo "Files are the same. Workflow terminated."
        fi
